@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::-moz-selection {
  background-color: rgba(255, 215, 35, 0.3);
}
*::selection {
  background-color: rgba(255, 215, 35, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  cursor: default;
}

.titleindent {
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  .titleindent {
    margin-bottom: 5px;
  }
}

.row {
  margin: 0 auto;
}

.h-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.e-link {
  text-decoration: none;
  line-height: 40px;
  color: #b6c197;
}
.e-link:hover {
  color: #ffd723;
}

.link-secondary {
  opacity: 0.7;
}

.link-secondary:hover {
  color: #ffd723;
  opacity: 1;
}

.c-header__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.container-fluid {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
}

.navbar {
  flex-wrap: nowrap;
  padding: 0;
}

.navbar-toggler {
  background-color: #ffff;
  padding: 0.4rem 0.4rem;
  border-radius: 50%;
}

.offcanvas-end {
  background-color: #808d71;
  z-index: 9999;
}

.c-footer {
  font-family: "Poppins", sans-serif;
  background-image: url("../../assets/img/FooterBGR.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 235px;
  margin-top: -160px;
  z-index: 0;
}
@media (max-width: 768px) {
  .c-footer {
    text-align: center;
  }
}
.c-footer__contacts-value {
  margin-top: 5px;
}
.c-footer__contacts-text {
  color: #b6c197;
  margin-top: 50px;
}
.c-footer__middle {
  margin-bottom: 60px;
  margin-top: 113px;
}
.c-footer__social-subtitle {
  padding-top: 8px;
  color: #b6c197;
}
.c-footer__social-icons {
  margin-top: 15px;
}
.c-footer__bottom {
  padding-bottom: 30px;
}
.c-footer__bottom-copyrights {
  font-size: 14px;
  text-align: end;
  color: #b6c197;
}
@media (max-width: 768px) {
  .c-footer__bottom-copyrights {
    text-align: center;
    margin-top: 20px;
  }
}

.bi {
  margin-right: 5px;
  opacity: 0.7;
}

.bi:hover {
  opacity: 1;
}

/* Set the size of the div element that contains the map */
#map {
  height: 300px;
}

.c-banner {
  background-image: url("../../assets/img/Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poppins", sans-serif;
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 189px;
}
.c-banner__wrapper {
  position: relative;
  max-width: 1110px;
}
.c-banner__content {
  margin-bottom: 55px;
  max-width: 615px;
}
.c-banner__subtitle {
  font-size: 16;
  line-height: 26px;
}
.c-banner__title {
  line-height: 74px;
  font-weight: 700;
  font-size: 60px;
}
@media (max-width: 768px) {
  .c-banner__title {
    line-height: 60px;
    font-size: 50px;
  }
}

.c-partners {
  background-color: #fafafa;
  position: absolute;
  margin-top: -100px;
  max-width: 1276px;
  padding: 40px;
  width: 100%;
  right: 0;
}

.c-getStarted {
  background-color: #fafafa;
  padding-bottom: 65px;
  padding-left: 55px;
  position: relative;
  margin-top: 100px;
  max-width: 1275px;
  left: 0;
}
@media (max-width: 576px) {
  .c-getStarted {
    padding: 0 0 30px 0;
  }
}
.c-getStarted__title {
  font-family: "Poppins", sans-serif;
  line-height: 74px;
  font-weight: 700;
  max-width: 822px;
  font-size: 60px;
}
@media (max-width: 768px) {
  .c-getStarted__title {
    line-height: 60px;
    font-size: 40px;
  }
}

.c-services__wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 1110px;
  padding-top: 100px;
}
.c-services__title {
  max-width: 607px;
  width: 100%;
}
.c-services__list-item {
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 70px;
  font-weight: 500;
  display: flex;
  opacity: 0;
}
@media (max-width: 768px) {
  .c-services__list-item {
    text-align: center;
  }
}

.c-projects {
  padding-top: 150px;
}
.c-projects__row {
  margin-bottom: 110px;
  align-items: center;
  margin-left: 105px;
  max-width: 976px;
  display: flex;
}
@media (max-width: 992px) {
  .c-projects__row {
    display: block;
    margin-left: 40px;
  }
}
.c-projects__title {
  max-width: 515px;
  width: 100%;
}
.c-projects__subtitle {
  margin-left: 50px;
}
@media (max-width: 992px) {
  .c-projects__subtitle {
    margin-left: 0;
    margin-right: 20px;
  }
}
.c-projects__one {
  margin-bottom: 200px;
  position: relative;
  display: flex;
}
@media (max-width: 768px) {
  .c-projects__one {
    display: block;
    margin-bottom: 100px;
  }
}
.c-projects__one--reverce {
  flex-direction: row-reverse;
}
.c-projects__img {
  max-width: 735px;
  width: 50%;
}
.c-projects__img-adapt {
  width: 100%;
}
.c-projects__sidebar {
  padding-right: 20px;
  padding-left: 8%;
  max-width: 475px;
  width: 50%;
}
@media (max-width: 768px) {
  .c-projects__sidebar {
    width: 100%;
    margin-top: 30px;
  }
}
.c-projects__sidebar-link {
  margin-top: 115px;
}
@media (max-width: 768px) {
  .c-projects__sidebar-link {
    margin-top: 30px;
  }
}
.c-projects__sidebar--reverse {
  padding-left: 0;
  margin-left: 8%;
}
.c-projects__ceo {
  background-color: #ffff;
  position: absolute;
  margin-left: 325px;
  margin-top: -175px;
  max-width: 445px;
  width: 100%;
  opacity: 0;
}
@media (max-width: 1160px) {
  .c-projects__ceo {
    position: static;
    margin-left: 0;
    margin-top: 0;
  }
}
.c-projects__ceo--reverse {
  margin-left: -55px;
}
@media (max-width: 1160px) {
  .c-projects__ceo--reverse {
    position: static;
    margin-left: 0;
    margin-top: 0;
  }
}
.c-projects__ceo-img {
  padding-right: 15px;
  padding-top: 5px;
}
@media (max-width: 991px) {
  .c-projects__ceo-name {
    margin-top: 20px;
  }
}

.c-founder {
  margin-top: 95px;
  padding-bottom: 160px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 991px) {
  .c-founder__ceo-name {
    margin-top: 20px;
  }
}
@media (max-width: 979px) {
  .c-founder {
    margin-top: 200px;
  }
}
@media (max-width: 619px) {
  .c-founder {
    margin-top: 310px;
  }
}
@media (max-width: 439px) {
  .c-founder {
    margin-top: 530px;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-banner__subtitle._active,
.c-banner__title._active {
  -webkit-animation-name: pop-up-title;
          animation-name: pop-up-title;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes pop-up-title {
  0% {
    opacity: 0;
    transform: translate(0px, 80%);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes pop-up-title {
  0% {
    opacity: 0;
    transform: translate(0px, 80%);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
.c-services__list-item._active {
  -webkit-animation-name: pop-up-li;
          animation-name: pop-up-li;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.c-services__list-item._active.second {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-name: pop-up-li;
          animation-name: pop-up-li;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.c-services__list-item._active.third {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-name: pop-up-li;
          animation-name: pop-up-li;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.c-services__list-item._active.fourth {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  -webkit-animation-name: pop-up-li;
          animation-name: pop-up-li;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes pop-up-li {
  0% {
    opacity: 0;
    transform: translate(0px, 80%);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes pop-up-li {
  0% {
    opacity: 0;
    transform: translate(0px, 80%);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
.c-projects__ceo._active {
  -webkit-animation-name: appearance;
          animation-name: appearance;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform-origin: center center;
}

@-webkit-keyframes appearance {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes appearance {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.c-getStarted._active {
  -webkit-animation-name: outgoing;
          animation-name: outgoing;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes outgoing {
  0% {
    transform: translate(-100%, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes outgoing {
  0% {
    transform: translate(-100%, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.c-getStarted__link._active {
  -webkit-animation-name: color小change;
          animation-name: color小change;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes color小change {
  0% {
    color: #b6c197;
  }
  50% {
    color: #080808;
  }
  100% {
    color: #ffd723;
  }
}

@keyframes color小change {
  0% {
    color: #b6c197;
  }
  50% {
    color: #080808;
  }
  100% {
    color: #ffd723;
  }
}