.c-header__wrapper {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.c-header__title {
  margin-top: 90px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 90px;
}
.c-header__subtitle {
  margin: 0 auto;
  font-size: 17px;
  max-width: 570px;
}

.c-footer {
  margin-top: 50px;
  margin-bottom: 115px;
}
.c-footer__wrapper {
  text-align: center;
}

.c-images-block {
  display: flex;
  justify-content: space-around;
}
.c-images-block__wrapper {
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
  margin-top: 45px;
  padding-left: 25px;
  padding-right: 25px;
}
.c-images-block__top-part {
  display: flex;
}
.c-images-block__top-part-big {
  width: 66%;
}
.c-images-block__top-part-small {
  margin-left: 2%;
  width: 32%;
}
.c-images-block__bottom-part {
  display: flex;
  margin-top: 2%;
}

.peach,
.blueberry,
.mulberry,
.yogurt,
.persimmon {
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.3);
}

.blueberry {
  margin-bottom: 8%;
  width: 100%;
}

.persimmon {
  margin-left: 2%;
  width: 48%;
}

.yogurt {
  width: 50%;
}

.peach {
  width: 100%;
}

.mulberry {
  width: 100%;
}

.e-button {
  padding: 15px 40px;
  background-color: #5585a2;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.3);
}
.e-button:hover {
  border: 2px solid #f9f2ff;
  border-radius: 5px;
  box-shadow: none;
}
.e-button-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #f9f2ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffe92f;
  font-family: "Raleway", sans-serif;
}