.c-founder {
  margin-top: 95px;
  padding-bottom: 160px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__ceo {
    &-name {
      @media (max-width: 991px) {
        margin-top: 20px;
      }
    }
  }

  @media (max-width: 979px) {
    margin-top: 200px;
  }
  @media (max-width: 619px) {
    margin-top: 310px;
  }
  @media (max-width: 439px) {
    margin-top: 530px;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
