* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.page {
  margin-bottom: 70px;
}
.page__wrapper {
  max-width: 1095px;
  margin: 0px auto;
}

/* header */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.header__wrapper {
  margin-top: 20px;
  padding-left: 140px;
  padding-right: 145px;
  display: flex;
  height: 80px;
  background-color: #fff;
}
/* logo */
.header__logo {
  display: flex;
  margin-right: 260px;
}

.item-ligo__1 {
  padding-top: 15px;
}

.item-ligo__2 {
  padding-top: 20px;
  margin-left: 10px;
}

/* navigation */
.navigation {
  display: flex;
  justify-content: space-between;
}

.menu-link {
  text-decoration: none;
  color: black;
  padding-right: 30px;
}
.menu-item {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}

/* autorization */
button {
  background: #ff9900;
  color: #ffffff;
  height: 45px;
  width: 110px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5%;
}
.auth-button {
  margin-right: 15px;
  margin-top: 15px;
}

.header__auth button:first-child {
  background: #ffffff;
  color: black;
  border: 1px solid black;
}

.header__auth {
  display: flex;
}

/* bottom content */

.page__rectangle {
  display: flex;
  margin-top: 80px;
}

.page__title {
  margin-top: 70px;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}

.page__text {
  margin-top: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.page__buttons {
  margin-top: 50px;
}

.page__aside {
  margin-top: 30px;
}

/* block tools */
.tools__wrapper {
  max-width: 1095px;
  margin: 0px auto;
}
.tools__header {
  width: 50%;
  position: relative;
  left: 25%;
  margin-bottom: 55px;
}
.tools__title {
  font-weight: bold;
  line-height: 54px;
  text-align: center;
}
.title {
  font-size: 36px;
  position: relative;
}
.tools__row {
  display: flex;
  margin: 0px 45px;
}
.tools__column {
  flex: 0 0 25%;
  padding: 0 35px;
}

.item-tools__icon {
  margin-bottom: 15px;
}
.item-tools__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  /* line-height: 33px; */
}
.item-tools__text {
  font-weight: 100;
  font-size: 14px;
  line-height: 26px;
}
