* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./bgc.png);
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

header {
  margin-top: 30px;
}

hr {
  width: 1110px;
  margin-top: 20px;
  margin-left: 405px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 405px;
  margin-right: 310px;
}

.adress {
  font-size: 13px;
  line-height: 150%;
}

.phone {
  font-size: 13px;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-left: 450px;
  margin-right: 330px;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  border-right: 1px solid white;
}

.catalogue {
  padding-right: 105px;
}

.delivery {
  padding-right: 115px;
}

.colection {
  padding-right: 110px;
}

.hreafone {
  margin-bottom: 11px;
}

.hreaftwo {
  margin-top: 15px;
}

button {
  background: #998431;
  color: #ffffff;
  height: 50px;
  width: 205px;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 620px;
}
.degust {
  margin-left: 30px;
}

a:last-child {
  border-right: none;
}
