//colors
$c-white: #ffff;
$c-yellow: #ffd723;
$c-grey: #b6c197;
$c-light-grey: #fafafa;
$c-black: #080808;

// Fonts
$f-poppins: "Poppins", sans-serif;

//font size
$fs-base: 16;
$fs-h1: 48;

//transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
