mixin images-block()
  .c-images-block
    .c-images-block__wrapper
      .c-images-block__top-part
        .c-images-block__top-part-big
          img(src="assets/images/cache(1).jpg" alt="Peach").peach
        .c-images-block__top-part-small
          img(src="assets/images/cache(2).jpg" alt="Blueberry").blueberry
          img(src="assets/images/cache(3).jpg" alt="Mulberry").mulberry
      .c-images-block__bottom-part
        img(src="assets/images/cache(4).jpg" alt="Yogurt").yogurt
        img(src="assets/images/cache(5).jpg" alt="Persimmon").persimmon