.leftblock {
  background-color: #7d0909;
  color: #db530e;
  width: 20%;
  line-height: 3;
  font-size: 18px;
}

.centerblock {
  color: white;
  font-size: 18px;
}

.rightblock {
  background-color: #e3dddd;
  width: 20%;
  font-size: 18px;
}

h3 {
  background-color: #bdbdbd;
}

a {
  color: white;
  text-decoration: none;
}

footer {
  color: white;
  background-color: #e95b11;
  text-align: center;
  font-size: 18px;
}
